#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        test {
            bindings = <
                       &kp A  &kp A  &kp A  &kp A  &kp A      &kp A  &kp A  &kp A  &kp A  &kp A
                       &kp A  &kp A  &kp A  &kp A  &kp A      &kp A  &kp A  &kp A  &kp A  &kp A
                &kp A  &kp A  &kp A  &kp A  &kp A  &kp A      &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
                                     &kp A  &kp A  &studio_unlock      &kp A  &kp A  &kp A
            >;
        };
    };
};
